# App
# Use localhost for development, change for production
PUBLIC_BASE_URL="http://localhost:5173"

# Database
# Replace with your actual database connection string
DATABASE_URL="postgres://user:password@host:port/db-name"

# Auth
# Created by registering a new app at https://console.developers.google.com/
GOOGLE_CLIENT_ID="ID_HERE"
GOOGLE_CLIENT_SECRET="SECRET_HERE"

# Mailjet
# Replace with your actual Mailjet API keys
MJ_SENDER_EMAIL="noreply@website.com"
MJ_SENDER_NAME="AstroConnect"
MJ_APIKEY_PUBLIC="your-mailjet-public-key"
MJ_APIKEY_PRIVATE="your-mailjet-private-key"

# S3 Bucket for file transfer uploads
# Suggested to use cloudflare r2 or aws s3
S3_ACCESS_KEY_ID="ACCESS_KEY"
S3_SECRET_ACCESS_KEY="SECRET_KEY"
S3_ENDPOINT="ENDPOINT" # e.g. https://[ACCOUNT_ID].r2.cloudflarestorage.com
S3_BUCKET_IMAGES="images" # Where all the profile pictures and post images are stored, needs to be publicly accessible via the url below
S3_BUCKET_IMAGES_PUBLIC_URL="https://images.website.com" # Where the S3_BUCKET_IMAGES are publicly accessible
S3_BUCKET_TEMP_UPLOADS="temp-uploads" # For temporary file uploads, files are stored here when uploaded, and then moved to S3_BUCKET_UPLOADS when the application is submitted
S3_BUCKET_UPLOADS="-uploads" # Where all the files included in an application are stored
S3_BUCKET_UPLOADS_PUBLIC_URL="https://uploads.website.com" # Where the S3_BUCKET_UPLOADS are publicly accessible
